<h1 class="font-extrabold text-center mt-10 mb-0 text-[30px]">My Projects</h1>

<section class="block m-auto w-100">
  <div class="container">
    <div class="row">
      <div class="card m-12">
        <div class="card-body">
          <div class="row">
              <p>
                <table class="table-fixed Air-Pollution w-[1200px] m-auto ">
                  <thead class="bg-gray-100">
                    <tr>
                      <th class="px-4 py-2 text-left" scope="col">Name</th>
                      <th class="px-4 py-2 text-left" scope="col">Status</th>
                      <th class="px-4 py-2"></th>
                      <th class="px-4 py-2"></th>
                      <th class="px-4 py-2"></th>
                      <th class="px-4 py-2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @projects.each do |project| %>
                      <tr>
                        <td class="border px-4 py-2"><%= project.name %></td>
                        <td class="border px-4 py-2"><%= project.status %></td>
                        <td class="border px-4 py-2"><%= link_to 'View Project', project_path(project.id), method: :get, class: 'text-teal-500' %></td>
                        <td class="border px-4 py-2"><%= link_to 'Edit Project', edit_project_path(project.id), method: :get, class: 'text-teal-500' %></td>
                        <td class="border px-4 py-2"><%= link_to 'Show comments', view_comments_project_comments_path(project.id), method: :get, class: 'text-teal-500' %></td>
                        <td class="border px-4 py-2">
                          <%= button_to 'Delete', project_path(project), method: :delete, class: 'btn-primary delete-btn text-teal-500' %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
