<%= link_to 'Add New Project', new_project_path, method: :get, class: 'nav-link' %>   

<h1>My Projects</h1>

<section class="float-left w-100 mt-5">
  <div class="container">
    <div class="row">
      <h1 class="text-primary w-100 page-title mb-4">Projects</h1>
      <div class="card m-12">
        <div class="card-body">
          <div class="row">
              <p>
                <table class="table mt-3 table-bordered Air-Pollution">
                  <thead>
                    <tr>
                      <th scope="col"> Name</th>
                      <th scope="col"> Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @projects.each do |project| %>
                      <tr>
                        <td> <%= project.name %></td>
                        <td> <%= project.status %></td>
                        <td> <%= link_to 'View Project', project_path(project.id), method: :get %></td>
                        <td> <%= link_to 'Edit Project', edit_project_path(project.id), method: :get %></td>
                        <td> <%= link_to 'Show comments', view_comments_project_comments_path(project.id), method: :get %></td>
                        <td><%= button_to 'Delete', project_path(project), method: :delete, class: 'btn-primary delete-btn' %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
